


{% extends "layouts/admin_layout.html" %}
{% block content %}

<!-- Admin bookings tile -->
<div class="admin-home">
    <a href="/admin/bookings" class="admin-card">
        <div class="admin-card-icon">
            <i class="bx bx-calendar"></i>
        </div>
        <div class="admin-card-divider"></div>
        <div class="admin-card-title">
            {{ self.i18n("admin-home-bookings") }}
        </div>
    </a>

     <!-- Admin customers tile -->
    <a href="/admin/customers" class="admin-card">
        <div class="admin-card-icon">
            <i class="bx bx-group"></i>
        </div>
        <div class="admin-card-divider"></div>
        <div class="admin-card-title">
            {{ self.i18n("admin-home-customers") }}
        </div>
    </a> 

    <!-- Admin users tile -->
    <a href="/admin/staff" class="admin-card">
        <div class="admin-card-icon">
            <i class="bx bx-user"></i>
        </div>
        <div class="admin-card-divider"></div>
        <div class="admin-card-title">
            {{ self.i18n("admin-home-users") }}
        </div>
    </a>  

    <!-- Admin prices tile -->
    <a href="/admin/prices" class="admin-card">
        <div class="admin-card-icon">
            <i class="bx bx-euro"></i>
        </div>
        <div class="admin-card-divider"></div>
        <div class="admin-card-title">
            {{ self.i18n("admin-home-prices") }}
        </div>
    </a>   
</div>
{% endblock %}