{% extends "layouts/admin_layout.html" %}
{% block content %}

<div class="reset-password-container">
    <div class="reset-password-card">

        <form method="POST">

            <input type="hidden" name="csrf_token" value="{{ csrf_token }}">
            <input type="hidden" name="token" value="{{ token }}">

            {% if !success.is_empty() %}
                <div class="alert-wrapper">
                    <div class="alert success">
                        {{ self.i18n(success) }}
                    </div>
                </div>
            {% endif %}

            {% if !error.is_empty() %}
                <div class="alert-wrapper">
                    <div class="alert error">
                        {{ self.i18n(error) }}
                    </div>
                </div>
            {% endif %}

            <h1>
                {{ self.i18n("reset-password-title") }}
            </h1>

            <div class="reset-password-input-field">
                <input
                    type="password"
                    id="password"
                    name="password"
                    placeholder="{{ self.i18n("reset-password-new-password") }}"
                >
                <i class="bx bx-show toggle-password" id="togglePassword"></i>
            </div>

            <div class="reset-password-input-field">
                <input
                    type="password"
                    id="passwordConfirm"
                    name="password_confirm"
                    placeholder="{{ self.i18n("reset-password-confirm-password") }}"
                >
                <i class="bx bx-show toggle-password" id="togglePasswordConfirm"></i>
            </div>

            <button
                type="submit"
                class="reset-password-button"
            >
                {{ self.i18n("reset-password-save") }}
            </button>

        </form>

    </div>
</div>

<!-- Script toggle password visibility -->
<script>
    const togglePassword =
        document.getElementById("togglePassword");
    const password =
        document.getElementById("password");

    togglePassword.addEventListener("click", function () {
        const type =
            password.getAttribute("type") === "password"
            ? "text"
            : "password";

        password.setAttribute("type", type);
        this.classList.toggle("bx-show");
        this.classList.toggle("bx-hide");
    });

    const togglePasswordConfirm =
        document.getElementById("togglePasswordConfirm");

    const passwordConfirm =
        document.getElementById("passwordConfirm");

    togglePasswordConfirm.addEventListener("click", function () {
        const type =
            passwordConfirm.getAttribute("type") === "password"
            ? "text"
            : "password";

        passwordConfirm.setAttribute("type", type);

        this.classList.toggle("bx-show");
        this.classList.toggle("bx-hide");
    });
</script>

{% endblock %}