{% extends "layouts/public_layout.html" %}

{% block content %}
    <div class="contact-wrapper">
        <div class="contact-card">

            <h2 class="contact-title">Contact</h2>

            <div class="contact-content">

                <div class="contact-block">
                    <h3>Adres</h3>
                    <p>Vogelsang 1</p>
                    <p>5050 AB Hoogerheide</p>
                    <p>Nederland</p>
                </div>

                <div class="contact-block">
                    <h3>Contactgegevens</h3>
                    <p>Email: info@camping-colibri.nl</p>
                    <p>Telefoon: 06 12345678</p>
                </div>

                <div class="contact-block">
                    <h3>Openingstijden</h3>
                    <p>Maandag - Vrijdag: 09:00 - 17:00</p>
                    <p>Zaterdag - Zondag: 10:00 - 16:00</p>
                </div>

            </div>

        </div>
    </div>
{% endblock %}